[color]
        ui = always
[core]
        pager = cat
        editor = vim
[diff]
        tool = vimdiff
[merge]
        tool = vimdiff
[alias]
        logs = log --pretty=tformat:"%C(yellow)%h%C(reset)%x20%x20%cs%x20%x20%<(20,trunc)%an%x09%s"
[pull]
        rebase = true
[status]
        showuntrackedfiles = all
